
// CONTAINER
.main-container {
  min-height: 100%;
}

.container {
  position: relative;
  @include container(true);
}

.cta-container{
  padding: 0;
}

.container-medium {
  @include medium {
    @include container(true);
  }
}

.container-small {
  @include small-only {
    @include container(true);
  }
}

.container {
  position: relative;

  .content{
    display: flex;
    align-items: center;
  }
  @media all and (max-width: $medium) {
    .content{
      display: block;
      align-items: unset;
    }
  }

}


.section{ padding: 2rem 0; }

// HEADER
.header{
  padding: 1rem 0;
  .container{
    display: flex;
    align-items: center;

    .menu{
      display: flex;
      justify-content: end;
      width: 80%;

      .menu__list{
        display: flex;
        align-items: center;
        padding: 0;
        list-style: none;
        li{
          padding: 15px;
        }
      }

    }

  }
}

// footer
.footer{
  margin: 10rem 0;
  .container{
    border-top: 1px solid rgba(188,208,229,.5);
    padding: 6rem 0 0 0;
  }

  .row{
    display: flex;


    ul, li{
      list-style: none;
      a{
        font-size: 14px;
      }
    }

    h5{
      &.thin{
        font-weight: 400;
        font-size: 20px;
      }
    }

    ._25 {
      flex: 2.5;
      display: flex;
    }
    ._42 {
      display: flex;
      justify-content: end;
      flex: 4.2;

      .list{
        width: 40%;
      }
    }
    ._33 {
      flex: 3.3;
    }

    .form-group{
      display: block;
      .form-control{
        margin: 1em 0 0 0;
        padding: 8px;
        display: block;
        border: 1px solid rgba(188,208,229,.5);
        color: #BCD0E5;
        min-width: 325px;

      }

    }

  }
}
