
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: $fontDefault;
  font-size: $fontBase;
  line-height: 1.333em; /* 20px */
  font-weight: 400;
  overflow-x: hidden;

  // @include baseline-grid();

}

img{
  display: block;
  max-width: 100%;
  height: auto;

}

a{
  text-decoration: none;
  transition: all .2s linear;
}


/**********************************************/
.clear {
    &::before,
    &::after {
        content: '';
        display: table;
    }

    &::after {
        clear: both;
    }
}



/*==========  ANIMATIONS  ==========*/
.fade {
opacity: 0;
-webkit-transition: opacity 0.85s ease-in-out;
	   transition: opacity  0.85s ease-in-out;
}



/*==========  GENERIC  ==========*/
.centered {
  text-align: center;
}

.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}

.upper{ text-transform:uppercase;}

.hide{display: none!important; }

.overflowhidden{ overflow: hidden;}

.pull-left{ float: left; }
.pull-right{ float: right; }

.layer{ position: absolute; }

.desktop{ display: block; }
.mobile{ display: none; }


@media all and (min-width: '1281px') and (max-width: '1340px'){
  #home .next_sessions, .teams .next_sessions{
    margin-top: -74px!important;
  }
}

@media all and (max-width: '1340px') {
  .block{
    display: block;
  }
}

@media all and (max-width: $wide) {
  section.infos .content img.cpf{
    float: none!important;
    display: block!important;
    margin: 0 auto!important;
    margin-bottom:20px!important;
  }

  #home .next_sessions, .teams .next_sessions{
    margin-top: 0!important;
  }
}

@media all and (max-width: 960px) {
  .desktop{ display: none!important; }
  .mobile{ display: block!important; }

  .header {
    padding: 1rem 0;
    background: #fff;
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.4);
  }

  .main-container{
    padding-top: 80px;
  }
}

.inline-block{ display: inline-block; }


.boxshadow{ box-shadow: 2px 0 10px rgba(0, 0, 0, 0.4); }

// video background
.video-mask{
  #video{
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    max-height: 1080px;

  }
  .mask{
    position: absolute;
    z-index: 2;
    background: url(../../img/bg_home_video.png) no-repeat 0 0;
    background-position: center center;
    max-height: 1080px;
    height: 100%;
    width: 100%;
    top:0;
  }

}


/* iframe YT */
.videoContent {
  &.iframe {
      // max-width: 778px;
      display: block;
      margin: 0 auto;
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  // max-width: 728px;
  // min-width: 320px;
  height: 100%;
  //max-height: 380px;
  // min-height: 120px;
  transform: translateX(-50%);
}


/*==========  UTILS JU  ==========*/
.img-rounded {
  border-radius: 0;
}

.img-circle{
  border-radius: 50%;
  overflow: hidden;

}

.img {
  background-size: cover;
  background-position: center 0;
}


.img-responsive {
    /*display: none;*/
    width: 100%;
    max-width: 100%;
    height: auto;
}

.table {
    display: table;
    height: 100%;
    width: 100%;

    margin-bottom: 0;
}

.table-cell {
    display: table-cell;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    width: 100%;

    &.vtop{
      vertical-align: top;
    }
}

//elms FLEX
.flexbox{
  display: flex;
  margin-bottom: 30px;

  &.flow-row-nowrap{
    flex-flow: row nowrap;
  }

  &.align-stetch{
    justify-content: center;
    align-items: stretch;
  }

  .g--third, .g--half{
    float: none;
  }

}

// overide Material UI search


// p ellipsis
.ellipsis{
   overflow:hidden;
   display: inline-block;
  // white-space: nowrap;
   text-overflow: ellipsis;
   -o-text-overflow: ellipsis;
}

.ellipsis:after{
  content:'...';
}

/******************************************/
/***** Scrollbar ******
*******************************************/


// ::-webkit-scrollbar {
//     -webkit-appearance: none;
//     width: 7px;
// }
// ::-webkit-scrollbar-thumb {
//     border-radius: 4px;
//     background-color: rgba(0,0,0,.5);
//     -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
// }
