/**
*
* Button
*
**/

.button {
  display: inline-block;
  padding: (($lineHeight / 2) - 1) 32px;
  margin-bottom: $lineHeight / 2;
  margin-top: $lineHeight / 2;
  min-height: $lineHeight;

  text-align: center;

  font-family: $fontHighlight;
  font-weight: 600;
  text-decoration: none;

  outline: 0;

  transition: all 0.2s ease-in-out;
  border-radius:4px;

  &:hover {
    background: $colorBlue;
    color: #ffffff;
    border: 1px solid $colorBlue;
    text-decoration: none;
  }
}

// Mixin to create buttons
@mixin style-button($color, $textColor, $isInverted: false) {

  background: $color;
  color: $textColor;
  border: 1px solid darken($color, 10%);

  @if $isInverted { border-color: transparent;}

}


.button--primary {
  @extend .button;
  @include style-button(#FF9900, #ffffff);
  
}

.button--secondary {
  @extend .button;
  @include style-button(#ffffff,#173A56);
}

.button--secondary-variation {
  @extend .button;
  @include style-button(#ffffff, #FF9900, true);
}
