/**
*
* Link
*
**/

a {
  color: $colorBlack;
}


a:focus, a:active, a:visited, a:link, a:hover{
  outline:none;
  text-decoration: none;
}


a {
    transition-property: all;
    transition-duration: 0.2s;
    /*-webkit-transition-delay:0.2s;
        transition-delay:0.2s;*/
    transition-timing-function: ease-in-out;
}


a:hover {
  text-decoration: none;
}
a:focus {
  outline: 0;
}

.cta--primary {
  @include style-cta($colorBlue);
    &:hover{ @include style-cta($colorYellow);}
}

.cta--secondary {
  //@include style-cta($colorBlue, $icon-chevron-right);
  @include style-cta($colorYellow);

  &:hover{ @include style-cta($colorBlue);}
  

}
