/* Overlay style */

.burger{
	background: transparent;
	border: 0;
	position: fixed;
	right: 15px;
	top:15px;
	cursor: pointer;

	span{
		display: block;
	  margin:4px;
		height: 6px;
		width: 34px;
	  background: $colorBlue;
	  border-radius: 9px;
	}
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(22,104,154,0.9);
  z-index: 7;
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 31px;
	height: 31px;
	position: absolute;
	left: 60px;
	top: 60px;
	overflow: hidden;
	border: none;
	background: url(../../images/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
	 -webkit-transition-duration: 0.4s;
	 transition-duration: 0.4s;

	&:hover{
		    -ms-transform: rotate(90deg); /* IE 9 */
		    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
		    transform: rotate(90deg);
	}
}

/* Menu style */
.overlay nav {
	text-align: left;
	position: relative;

  margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-50%);

}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: block;
	height: 100%;
	position: relative;
  width: 100%;
  max-width: 590px;

}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 85px;

	img{
		margin-top: 15px;
			width:90px;
	    height: 33px;

	}
}

.overlay ul li a {
  font-family:  $fontDefault;
	font-size: 80px;
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay ul li a {
  font-family:  $fontDefault;
	font-size: 60px;
	font-weight: 300;
	display: block;
	color: #fff;

  -webkit-transition-property:opacity;
          transition-property:opacity;

  -webkit-transition-duration:0.2s;
      transition-duration:0.2s;

  -webkit-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out;

  &:hover{
    opacity: 0.5;
  }
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #f0f0f0;
}

/* Effects */


.wrapper {
/*	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;*/
}

.wrapper.overlay-open {
	/*-webkit-transform: scale(0.8);
	transform: scale(0.8);*/
}

.overlay-contentscale {
	visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
	transition: transform 0.5s, visibility 0s 0.5s;
}

.overlay-contentscale.open {
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}
.overlay-contentscale.close {
   float: none;
   font-size: inherit;
   font-weight: inherit;
   line-height: 1;
   color: inherit;
   text-shadow: inherit;
   opacity: inherit;
   filter: inherit;
 }

@media screen and (max-height: $ipad768) {
	.overlay nav {
		height: 70%;
		font-size: 42px;
	}
	.overlay ul li {
		min-height: 80px;
	}
  .overlay ul li a {
		font-size: 60px;
	}
  .overlay ul li img {
		width:114px;
    height: 43px;
	}
}

@media screen and (max-height: 620px) {

	.overlay ul li {
		min-height: 60px;
	}
  .overlay ul li a {
		font-size: 42px;
	}
  .overlay ul li img {
		width:99px;
    height: 39px;
	}
}


@media screen and (max-width:$ipad768)  {

  .overlay .overlay-close {
		left: 18px;
	top: 40px;
	}

		.main-header .contact-us a {
	    padding: 12px 0;
	}

}

@media screen and (max-height: 620px) {

	.overlay ul li {
		min-height: 60px;
	}
  .overlay ul li a {
		font-size: 42px;
	}
  .overlay ul li img {
		width:99px;
    height: 37px;
	}
}

//  TABS
@media screen and (min-width: $small) and (max-width: $ipad768){
		.overlay ul, .overlay nav  {
  		text-align: center;
  	}
  	.overlay ul li {
  		min-height: 50px;
  	}
    .overlay ul li a {
  		font-size: 37px;
  	}
    .overlay ul li img {
  		width:99px;
      height: 37px;
  	}

}

@media screen and (min-width: 320px) and (max-width: $small){
	.overlay ul, .overlay nav  {
		text-align: center;
	}
  	.overlay ul li {
  		min-height: 45px;
  	}
    .overlay ul li a {
			font-size: 28px;
			line-height: 28px;
  	}


		.overlay .overlay-close {
			width: 20px;
			height: 20px;
			background-size: 20px 20px;
		}

}
