@import '../_includes';

section{

  &.design--thinking{

  }

  &.design--tools{

  }

  &.design--pro{
    h4{
      font-weight: 700;
    }

  }

  &.products--managers{

  }

  &.marketers{
    h4{
      font-weight: 700;
    }


  }
  &.hero{
    padding: 4rem 0;
    position: relative;
    min-height: 835px;

    .testimonials{
      width: 100%;
      height: 100%;
      min-height: 835px;
      position: absolute;
      li{
        position: absolute;
        min-height: 240px;
        &:nth-child(even){
          right:10.4%;
        }
        &:nth-child(odd){
          left:4.4%;
        }

        &:nth-child(1), &:nth-child(2){
          top:0;
        }

        &:nth-child(3), &:nth-child(4){
          bottom:0;
        }

        &:nth-child(5){
          bottom:0;
          left:50%;
          transform:translateX(-50%);
        }
      }
    }

    .centered{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,150%);
    }

  }

  &.marketing--strategies{

    .article, .swiper-slide{
      &:nth-child(even){
        .article_titre{
          color: $colorYellow;
        }


      }
      .article_content{
        padding: 1em 0 6em;
      }
      .article_author{
        color:#544837;
      }
      img{
        border-radius: 6px 6px 0 0;
      }
    }

    .swiper{margin-top: 4rem;}

    .swiper-pagination-bullet{
      width:16px;
      height:16px;
    }

    .swiper-pagination-bullet-active{
      background: $colorYellow;
    }


  }

}
