/**
 * Functions
 *
 *
 */

/* Font-size handling
 ======================================================== */
@function calculateRem($size) {
	$remSize: $size / $body_font_size;
	@return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}


/* Encode color # for SVG
 ======================================================== */
@function encodecolor($string) {
    @if type-of($string) == 'color' {
        $hex: str-slice(ie-hex-str($string), 4);
        $string:unquote("#{$hex}");
    }
    $string: '%23' + $string;
    @return $string;
}


/* Media queries handling
 ======================================================== */
/* from... */
@mixin media-min($_key) {
    @media screen and (min-width: map-get($breakpoints, $_key)) {
        &{ @content; }
    }
}

/* to... */
@mixin media-max($_key) {
    @media screen and (max-width: map-get($breakpoints, $_key) - 1) {
        &{ @content; }
    }
}

/* from... to... */
@mixin media-between($_keymin, $_keymax) {
    @media screen and (min-width: map-get($breakpoints, $_keymin)) and (max-width: map-get($breakpoints, $_keymax) - 1) {
        &{ @content; }
    }
}

/* at... */
@mixin media($_key) {
    @media screen and (min-width: map-get($breakpoints, $_key)) and (max-width: map-get($breakpoints, nth(map-keys($breakpoints), index(map-keys($breakpoints), $_key) + 1)) - 1) {
        &{ @content; }
    }
}

// ·············································································
@mixin qq($query){
    $equal: index-some($query, equal, exactly);
    $min: index-some($query, min, least, from) or $equal;
    $min: if($min, nth($query, $min + 1), null);
    $max: index-some($query, max, most, to) or $equal;
    $max: if($max, nth($query, $max + 1), null);
    $list:();
    $last: null;
    // loop through selectors to find the last selector of each part
    // the "alphabet" loop is just a simple way to listify selectors
    // (if the selector has more than 26 parts – you're on your own)
    @each $selector in & {
        @each $a, $b, $c, $d, $e, $f, $g, $h, $i, $j, $k, $l, $m, $n, $o, $p, $q, $r, $s, $t, $u, $v, $w, $x, $y, $z in $selector {
            $list: append($list, $a $b $c $d $e $f $g $h $i $j $k $l $m $n $o $p $q $r $s $t $u $v $w $x $y $z);
        }
        $last: nth($list, length($list));
    }
    @if $min and $max {
        &:nth-last-of-type(n+#{$min}):nth-last-of-type(-n+#{$max}):first-of-type,
        &:nth-last-of-type(n+#{$min}):nth-last-of-type(-n+#{$max}):first-of-type ~ #{$last} { @content; }
    }
    @else if $min {
        &:nth-last-of-type(n+#{$min}),
        &:nth-last-of-type(n+#{$min}) ~ #{$last} { @content; }
    }
    @else if $max {
        &:nth-last-of-type(-n+#{$max}):first-of-type,
        &:nth-last-of-type(-n+#{$max}):first-of-type ~ #{$last} { @content; }
    }
}
// helper function to return the first found list index
// of a number of values passed
@function index-some($list, $values...){
    @each $value in $values { @if index($list, $value){ @return index($list, $value); } }
    @return null;
}
