/**
 * Variables
 *
 */

 // Defining breakpoints
 $small: 560px !default;
 $medium: 720px !default;
 $laptop: 980px !default;
 $wide: 1280px !default;
 $huge: 1600px !default;
 $mediumContainer: 1024px !default;
 $ipad768: 768px !default;
 $wideContainer: 1280px!default;

 // Defining grid sizes
 $mediumColCount: 3 !default;
 $mediumColWidth: 30.3% !default;
 $mediumGutterWidth: 4.5% !default;
 $wideColCount: 4 !default;
 $wideColWidth: 22.2% !default;
 $wideGutterWidth: 3.7% !default;


  // Defining colors
  $colorBlack: #000000 !default;
  $colorBlue: #173A56 !default;
  $colorBlueSecondary: #F03E3D !default;
  $colorGreen: #0f9d58 !default;
  $colorGreenSecondary: lighten($colorGreen, 30%) !default;
  $colorRed: #F03E3D !default;
  $colorRedSecondary: lighten($colorRed, 30%) !default;
  $colorYellow: #FF9900 !default;
  $colorYellowSecondary: lighten($colorYellow, 20%) !default;

  $colorRemember: #09829a !default;
  $colorLearning: #da2e75 !default;

  $colorGrayBackground: #f0f0f0 !default;
  $colorGrayKeyline: #e0e0e0 !default;
  $colorGray: #737373 !default;
  $colorGrayLight: #eeeeee !default;
  $colorGrayDark: #404040 !default;

  $colorText: $colorGrayDark !default;
  $colorHighlight: $colorBlue !default;
  $colorWarning: $colorYellowSecondary !default;
  $colorMuted: $colorGray !default;
  $colorDanger: $colorRed !default;

  $colorLayouts: #297ea9 !default;
  $colorLayoutsSecondary: lighten($colorLayouts, 30%) !default;
  $colorUser: #2c8566 !default;
  $colorUserSecondary: lighten($colorUser, 30%) !default;
  $colorMedia: #cf423a !default;
  $colorMediaSecondary: lighten($colorMedia, 30%) !default;
  $colorPerformance: #7b5294 !default;
  $colorPerformanceSecondary: lighten($colorPerformance, 30%) !default;

  // Defining font family
  $fontDefault: 'Poppins', Helvetica, sans-serif !default;
  $fontHighlight: 'Poppins', Helvetica, sans-serif !default;
  $fontIcon: 'icons' !default;

  // Defining font sizes
  $fontSmall: 14px !default;
  $fontBase: 16px  !default;
  $fontMedium: 18px !default;
  $fontLarge: 22px !default;
  $fontXLarge: 36px !default;
  $fontXXLarge: 44px !default;
  $fontHuge: 110px !default;

  // Defining baseline line height
  $lineHeight: 26px !default;

  // Defining animation easings
  $animationEasing: cubic-bezier(0.455, 0.030, 0.515, 0.955) !default;

  // Defining sidebar stuff
  $sidebarWidth: 280px !default;
